.header-box {
  background-color: #fff;
  padding: 0.4rem 0;
  overflow: hidden;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-row {
  margin: 0 10rem;
}

.header-logo {
  color: #1e90ff;
  font-size: 1.4rem;
  text-align: left;
}

.header-text {
  font-size: 0.7rem;
  color: #999;
  padding-left: 0.4rem;
}

.ant-menu {
  line-height: 2.6rem;
}

.ant-menu-item {
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-box .ant-menu-horizontal {
  border: none;
}

.menu-box {
  display: flex !important;
  justify-content: flex-end;
}
