html > body {
  padding: 0;
  margin: 0;
  background-color: #f5f7fa;
}

.comm-header {
  margin: 0 10rem;
}

.comm-content {
  margin: 0 10rem;
}

.comm-left {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  /* margin-right: 20px; */
}

.comm-box {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

.comm-main {
  margin-top: 0.5rem;
  min-height: 600px;
}

.list-box {
  display: flex;
}

.list-box:hover {
  cursor: pointer;
}

.list-image {
  margin-right: 24px;
}

.list-type {
  font-size: 12px;
  padding: 0 4px;
  height: 20px;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid #1890ff;
  color: #1890ff;
  font-weight: normal;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  /* color: #1e90ff; */
  padding: 0 0.5rem;
}

.list-context {
  color: #777;
  padding: 0.5rem;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}

.list-icon span {
  padding: 0 5px;
}
