html > body {
  padding: 0;
  margin: 0;
  /* overflow: auto; */
  background-color: #f4f5f5;
}

.comm-header {
  position: relative;
  height: 3.5rem;
}

.comm-content {
  margin-top: 1rem;
  padding: 0 10rem;
  overflow: auto;
  height: 90vh;
  /* background-color: #fff; */
}

.comm-left {
  background-color: #fff;
  border-radius: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.comm-box {
  background-color: #fff;
  padding: 0.3rem 1rem 1rem;
  border-radius: 0.3rem;
}

.comm-main {
  height: 100%;
}

.comm-banner {
  height: 20rem;
  background: url('../../public/banner.jpg') no-repeat;
  background-size: 100% 100%;
}

.bread-box {
  background-color: #cce3fb !important;
}
.list-box {
  padding-left: 18px;
  display: flex;
}

.ant-list-split {
  border-bottom: 0;
}

.ant-list-item {
  margin: 10px 20px;
  transition: all 0.2s;
}

.ant-list-item:hover {
  transform: scale(1.01);
  border-color: rgba(0, 0, 0, 0.09);
  box-shadow: 2px 2px 8px rgb(0 0 0 / 9%);
}

.list-box:hover {
  cursor: pointer;
}

.list-image {
  margin-right: 24px;
}

.list-type {
  font-size: 12px;
  padding: 0 4px;
  height: 20px;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid #1890ff;
  color: #1890ff;
  font-weight: normal;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  /* color: #1e90ff; */
  padding: 0 0.5rem;
}

.list-context {
  color: #777;
  padding: 0.5rem;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}

.list-icon span {
  padding: 0 5px;
}

.new-article {
  padding-left: 10px;
}
